$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-light-gray: #e0e0e0;
$color-dark-gray: #404040;
$color-lime: #bbdd00;
$color-yellow: #eecd00;
$color-orange: #fa7000;
$color-violet: #301070;
$color-shade-violet: #100025;
$color-dark-violet: #200050;
$color-bright-violet: #7540f0;
$color-brightest-violet: #e0d8ff;

$root-font-size: 16;
